*{
    box-sizing: border-box;
}

a{
    color: #fff;
    text-decoration: none;
}

body{
    
    color: #000;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.container{
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-color: #cf853f;
}

.header__inner{
    height: 120px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo,
.footer__logo{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.header__logo span,
.footer__logo span{
    font-weight: 700;
    color: #000;
}

.header__menu .header__menu-list{
    position: relative;
}

.header__menu .header__menu-list li{
    display: inline-block;
    margin-right: 20px;
}

.header__menu .header__menu-list li + li::before{
    content: "|";
    color: #fff;
    position: absolute;
    margin-left: -15px;
}

.header__menu .header__menu-list li a{
    color: #000;
}

.header__menu .header__menu-list li a:hover{
    color: #fff;
    transition: all 0.5s;
}

.header__contacts{
    text-align: center;
}
.header__contacts .header__contacts-links{
    display: flex;
    justify-content: space-between;
}

.header__contacts-tel{
    margin-bottom: 10px;
    display: block;
    color: #fff;
}


.header__contacts .header__contacts-links a{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    position: relative;
}

.header__contacts .header__contacts-links a:hover {
    cursor: pointer;
    background-color: #fff;
    transition: all 0.5s;

}

.header__contacts-links a img{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
}

.intro{
    background-color: #fff;
}
.intro__inner{
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
}
.intro__inner-photo img{
    max-width: 380px;
    margin-right: 50px;
   
}

.intro__inner-info{
    padding: 50px 0;
}

.intro__info-position{
    margin-bottom: 30px;
    font-weight: 500;
}
.intro__info-name{
    font-size: 30px;
    line-height: 45px;
    color: #cf853f;
    font-weight: 700;
    margin-bottom: 100px;
}

.intro__info-text{
    max-width: 500px;
    margin-bottom: 50px;
}

.intro__button{
    border: 2px solid #cf853f;
    background-color: #cf853f;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    padding: 10px 25px;
}

.intro__button:hover{
    background-color: #fff;
    transition: all 0.5s;
}
.intro__button:hover a{
    color: #cf853f;
    transition: all 0.5s;
}


.skills {
    background-color: gray;
    margin-bottom: 50px;
}
.skills__inner {
    padding: 50px 0;
}
.skills__inner-title {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.skills__inner-blocks {
    display: flex;
    flex-wrap: wrap;
}
.skills-block {
    width: 20%;
    text-align: center;
    align-items: center;
    background-color: #cf853f;
    border: solid 1px #fff;
    padding: 20px 0;
    color: #fff;
    text-transform: uppercase;
}
.skills-block:hover{
    background-color: #fff;
    color: #cf853f;
    font-weight: 700;
    transition: all 0.5s;
}


.portfolio {
    background-color: #fff;
    margin-bottom: 50px;
}
.portfolio__title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px
}

.portfolio__inner{
    
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
.portfolio__inner-slide {
    padding: 30px;
    background-color:#cf853f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.slide__img a img{
    max-width: 300px;
    margin-right: 50px;
}

.slide__description {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    font-weight: 500;
}
.slide__description a{
    padding: 5px;
    color: #000;
    font-weight: 700;
}
.slide__description a:hover{
    color: #fff;
}
.slick-arrow {
    width: 44px;
    height: 56px;
    top: 150px;
    position: absolute;
}

.slick-prev {
    left: -100px;
}

.slick-next {
    right: -100px;
}

.slick-prev:before,
.slick-next:before {
    display: none;
}
.portfolio__inner button{
    background-color: #cf853f;
    padding-bottom: 5px;
    border: none;
}

.portfolio__inner button img{
    margin-bottom: 2px;
}

.slick-initialized .slick-slide {
    display: flex;
}

.footer{
    background-color: gray;
}
.footer__inner{
    height: 120px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu .footer__menu-list{
    position: relative;
}

.footer__menu .footer__menu-list li{
    display: inline-block;
    margin-right: 20px;
}

.footer__menu .footer__menu-list li + li::before{
    content: "|";
    color: #fff;
    position: absolute;
    margin-left: -15px;
}



.footer__contacts{
    text-align: center;
}
.footer__contacts .footer__contacts-links{
    display: flex;
    justify-content: space-between;
}

.footer__contacts-tel{
    margin-bottom: 10px;
    display: block;
    color: #fff;
}


.footer__contacts .footer__contacts-links a{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    position: relative;
}

.footer__contacts .footer__contacts-links a:hover {
    cursor: pointer;
    background-color: #fff;
    transition: all 0.5s;

}

.footer__contacts-links a img{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
}

.footer__menu .footer__menu-list li a{
    color: #000;
}

.footer__menu .footer__menu-list li a:hover{
    color: #fff;
    transition: all 0.5s;
}